<div class="footer-container">
  <div class="footer-content">
    <nav class="footer-nav">
      <ul class="menu">
        <li>
          <a (click)="goToHome()">
            <i class="bi bi-house-door"></i> Home
          </a>
        </li>
        <li>
          <a (click)="goToService()">
            <i class="bi bi-tools"></i> Services
          </a>
        </li>
        <li>
          <a (click)="goToAbout()">
            <i class="bi bi-info-circle"></i> About
          </a>
        </li>
        <!-- <li>
          <a (click)="goToContact()">
            <i class="bi bi-envelope"></i> Contact
          </a>
        </li> -->
      </ul>
    </nav>
  </div>
</div>
