<div class="footer-container">
  <div class="footer-content">
    <nav class="footer-nav">
      <ul class="menu">
        <li>
          <a (click)="goToHome()"><i class="fas fa-home"></i> Home</a>
        </li>
        <li>
          <a (click)="goToService()"><i class="fas fa-cogs"></i> Services</a>
        </li>
        <li>
          <a (click)="goToAbout()"><i class="fas fa-info-circle"></i> About</a>
        </li>
        <!-- <li>
          <a (click)="goToAbout()"><i class="fas fa-envelope"></i> Contact</a>
        </li> -->
      </ul>
    </nav>
  </div>
</div>
