<div class="about-container">
    <h1>Contact Me</h1>
    <h3>Let's Connect and Build Something Amazing</h3>
    <p>
      Hi, I'm Pakin, a passionate developer skilled in creating robust and scalable applications.
      Whether it's collaborating on exciting projects, discussing ideas, or exploring opportunities,
      feel free to reach out to me on any of the platforms below!
    </p>
    <div class="social-links">
      <a href="https://wa.me/7358360090?text=Hi, I Love You" target="_blank" aria-label="WhatsApp">
        <i class="fab fa-whatsapp"></i> WhatsApp
      </a>
      <a href="https://www.instagram.com/pakin_basker/?igsh=Z3V4MmhqdGJpNnVv" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i> Instagram
      </a>
      <a href="https://www.linkedin.com/in/pakin-basker-p-69b05b232" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
      <a href="https://github.com/Pakinbaskerp" target="_blank" aria-label="GitHub">
        <i class="fab fa-github"></i> GitHub
      </a>
      <a href="mailto:pakinbaskerp@gmail.com" aria-label="Mail">
        <i class="fas fa-envelope"></i> Mail
      </a>
    </div>
  </div>
  
  <app-footer></app-footer>