.hero-section {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  /* overflow-y: auto; Enable scrolling */
}

.hero-container {
  /* width: 90%; Leave some gap on sides */
  max-width: 1200px; /* Limit the width on larger screens */
  margin: 20px auto; /* Add vertical space */
}

.hero-content {
  background: rgba(0, 0, 0, 0.5);
  padding: 40px 20px; /* Add space inside */
  border-radius: 10px;
}

.hero-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 1rem;
  margin-bottom: 20px;
}

.hero-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  border-radius: 5px;
}

.hero-button:hover {
  background: linear-gradient(50deg, #FFC107 1%, #ECF7C5 100%);
  background-color: var(--primary-color);
  color: #000000;
}

/* Responsive styles for smaller devices */
@media (max-width: 768px) {

  .hero-container {
     width: 90%;
  }
  .hero-title {
    font-size: 1.5rem;
  }

  .hero-subtitle {
    font-size: 0.9rem;
  }

  .hero-button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}
