/* service-list.component.css */
.category-item {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 251, 0, 0.1);
  text-align: center;
  background-color: rgb(253, 207, 41);
}

.category-image {
  width: 100%;
  height: auto;
  max-width: 200px;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  color: #555;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .category-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .category-list {
    grid-template-columns: 1fr;
  }
}
