.service-title {
  font-size: 1rem;
  font-weight: 600;
}
.service-price {
  font-size: 0.9rem;
  color: #000000;
}
.options-info {
  font-size: 0.8rem;
}
.cart-popup {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: white;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card {
  background: linear-gradient(50deg, #FFC107 1%, #ECF7C5 100%);
}


app-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1000;
}

app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  z-index: 1000;
}

.container {
  flex: 1;
  overflow-y: auto;
  padding-top: 90px; /* Adjust based on header height */
  padding-bottom: 40px; /* Adjust based on footer height */
  height: calc(100vh - 120px); /* Adjust height dynamically */
  /* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer/Edge */
}

.container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}