:root {
  --primary-color: #FDCF29; /* Forest Green */
  --secondary-color: #8B4513; /* Woody Brown */
  --text-color: #333;
  --background-color: #f4f4f4;

  /* Fonts */
  --primary-font: 'Roboto Mono', monospace; 
}

* {
  
  font-family: var(--primary-font) !important; /* Ensure it's applied to all elements */
}

